name: e2e tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
    inputs:
      manual:
        description: "Trigger the workflow manually"
        required: false
  schedule:
    # CST is UTC-6, so 6:00 AM CST is 12:00 PM (or 12:00) UTC.
    # If daylight saving is in effect (CDT, UTC-5), this will run at 7:00 AM CDT.
    - cron: "0 12 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine

      - name: Build Package
        run: python setup.py sdist bdist_wheel

      - name: Check Build
        run: |
          twine check dist/*

      - name: Install Package
        run: pip install .

      - name: Create Temporary Directory
        run: echo "TMP_DIR=$(mktemp -d)" >> $GITHUB_ENV

      - name: Test Excel
        run: |
          python e2e/test-excel.py
          echo "Contents of Temp Directory:"
          ls -l ${{ env.TMP_DIR }}
          if [ ! -f "${{ env.TMP_DIR }}/excel.xlsx" ]; then
             echo "Excel file not found"
             exit 1
          fi
        env:
          TEMP_DIR: ${{ env.TMP_DIR }}
