name: Formatting Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      manual:
        description: 'Trigger the workflow manually'
        required: false

jobs:
  format:
    name: Format with Black
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black

      - name: Run Black Formatting
        run: |
            FILES=$(git ls-files -o -c --exclude-standard | grep '\.py$')
            if [[ -n $FILES ]]; then
                UNFORMATTED_FILES=""
                for FILE in $FILES; do
                black --check --diff --config pyproject.toml "$FILE"
                if [[ $? -ne 0 ]]; then
                    UNFORMATTED_FILES="${UNFORMATTED_FILES}${FILE}\n"
                fi
                done
                if [[ -n $UNFORMATTED_FILES ]]; then
                echo -e "The following files are not formatted correctly:\n${UNFORMATTED_FILES}"
                exit 1
                else
                echo "All code is formatted correctly."
                fi
            else
                echo "No Python files to format."
            fi
