name: formatting check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      manual:
        description: "Trigger the workflow manually"
        required: false

jobs:
  format:
    name: Check code formatting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black==23.3.0

      - name: Check Formatting
        run: |
          black --config pyproject.toml --check --diff .

      - name: Install autoflake
        run: pip install autoflake==2.1.1

      - name: Check for Unused Imports
        run: autoflake --config pyproject.toml --check .
